example_cluster/Caves/save/
example_cluster/Caves/server_chat_log.txt
example_cluster/Caves/server_log.txt
example_cluster/Master/save/
example_cluster/Master/server_chat_log.txt
example_cluster/Master/server_log.txt
